<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISPLAY CONTACT </title>
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">CONTACT</h4>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> NAME </th>
                            <th> EMAIL </th>
                            <th> SUBJECT </th>
                            <th> MESSAGE </th>


                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                          <tr>
                            <td>{{ d.Name }}</td>
                            <td>{{ d.Email }}</td>
                            <td>{{ d.Subject }} </td>
                            <td>{{ d.Message }}</td>



                            <td>
                              <form action="{% url 'deletecontact' dataid=d.id %}">
                              <button type="submit" class="btn btn-success">delete </button>
                              </form>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}