<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Display Product</h4>

                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>Image</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                      <tr>
                        <td>{{ d.Category }}</td>
                        <td>{{ d.Name }}</td>
                        <td>{{ d.Price }}</td>
                        <td>{{ d.Quantity }}</td>
                        <td>{{ d.Description }}</td>
                        <td><img src="{{ d.Image.url }}" ></td>
                        <td>
                                <form action="{% url 'Productedit' dataid=d.id %}">
                              <button type="submit" class="btn btn-success">edit </button>
                                </form>
                        </td>

                          <td>
                              <form action="{% url 'productdelete' dataid=d.id %}">
                              <button type="submit" class="btn btn-success">delete </button>
                              </form>
                           </td>

                      </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

</body>
</html>
{% endblock %}